<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cyman.libssid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application>
        <activity android:name=".activity.SignUpStepTwoActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".activity.SignUpStepOneActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.AutoLoginActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.PhoneNumberActivity"
            android:screenOrientation="portrait"
            />

    </application>

</manifest>